In [18]:
import pandas as pd

df = pd.read_csv('./df_for_project_split_LOO.csv')
print('kich thuoc dataset', df.shape)
df.head(3)

kich thuoc dataset (3006, 7)

,reviewer_name,ten_dia_danh,reviews,ratings,test,user_id,item_id
0,74G1 Úts,Di tích lịch sử quốc gia đặc biệt Chiến thắng ...,Một địa chỉ hết sức đặc biệt và ý nghĩa đối vớ...,5.0,0,0,121
1,74G1 Úts,Chùa Sà Lôn (chùa Chén Kiểu),Trên hành trình chinh phục miền Tây di chuyển ...,5.0,0,0,75
2,74G1 Úts,Khu di tích Đồng Khởi,"Đầu những năm 1960, đây là địa điểm xuất phát ...",5.0,1,0,180

In [9]:
import pandas as pd

path = './database/user.csv'
avatar_base = 'https://picsum.photos/200/200?random='

# Giả sử DataFrame gốc tên là df
# Lấy user_id và reviewer_name, bỏ trùng
df_user = df[['user_id', 'reviewer_name']].drop_duplicates().copy()

# Đổi tên cột
df_user.rename(columns={'reviewer_name': 'user_name'}, inplace=True)
df_user['full_name'] = df_user['user_name']

# Tạo avatar_url ngẫu nhiên theo user_id (để mỗi user cố định 1 avatar)
df_user['avatar_url'] = df_user['user_id'].apply(
    lambda x: f"{avatar_base}{x}"
)

# Lưu ra CSV
df_user.to_csv(path, index=False)

print(df_user.head())

    user_id      user_name      full_name  \
0         0       74G1 Úts       74G1 Úts
4         1  7985 Sunguyen  7985 Sunguyen
8         2           Alex           Alex
11        3   Alice Nguyen   Alice Nguyen
14        4      An Nguyễn      An Nguyễn

                                avatar_url
0   https://picsum.photos/200/200?random=0
4   https://picsum.photos/200/200?random=1
8   https://picsum.photos/200/200?random=2
11  https://picsum.photos/200/200?random=3
14  https://picsum.photos/200/200?random=4

In [10]:
path = './database/user_place.csv'
# user_id,place_id
df_up = df[['user_id', 'item_id']]
df_up.rename(columns={'item_id': 'place_id'}, inplace=True)
df_up.to_csv(path, index=False)
df_up.head(3)

C:\Users\trung\AppData\Local\Temp\ipykernel_15208\1115559189.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_up.rename(columns={'item_id': 'place_id'}, inplace=True)

   user_id  place_id
0        0       121
1        0        75
2        0       180

In [12]:
# id, place_id,username,content,date
import numpy as np

path = './database/comment.csv'

start_date = pd.to_datetime('2021-01-01')
end_date   = pd.to_datetime('2024-12-31')

df_comment = df[['user_id', 'item_id', 'reviews']]
df_comment['date'] = pd.to_datetime(
    np.random.randint(
        start_date.value // 10**9,
        end_date.value // 10**9,
        size=len(df_comment)
    ),
    unit='s'
)
df_comment.rename(columns={'item_id': 'place_id',
                           'reviews': 'content'}, inplace=True)

df_comment.to_csv(path)
df_comment.head(3)

C:\Users\trung\AppData\Local\Temp\ipykernel_15208\338734480.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_comment['date'] = pd.to_datetime(
C:\Users\trung\AppData\Local\Temp\ipykernel_15208\338734480.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_comment.rename(columns={'item_id': 'place_id',

,user_id,place_id,content,date
0,0,121,Một địa chỉ hết sức đặc biệt và ý nghĩa đối vớ...,2021-09-21 15:25:36
1,0,75,Trên hành trình chinh phục miền Tây di chuyển ...,2024-02-04 10:55:02
2,0,180,"Đầu những năm 1960, đây là địa điểm xuất phát ...",2023-12-18 11:31:21

In [19]:
df_place = df[['item_id', 'ten_dia_danh']].drop_duplicates().copy()
df_place.head(3)

   item_id                                       ten_dia_danh
0      121  Di tích lịch sử quốc gia đặc biệt Chiến thắng ...
1       75                       Chùa Sà Lôn (chùa Chén Kiểu)
2      180                              Khu di tích Đồng Khởi

In [20]:
import pandas as pd

df = pd.read_csv('./dulieu_v2.csv')
print('kich thuoc dataset', df.shape)
df.head(3)

kich thuoc dataset (975, 5)

,Tên địa điểm,Địa chỉ,Đường dẫn,Thông tin thêm,tọa độ
0,Di tích lịch sử - văn hóa căn cứ địa cách mạng...,"Địa chỉ: xã Thanh Lâm, Xã Thanh Lâm, Huyện Ba ...",/dest/?item=1171,"{'summary': '', 'content': '', 'imgs': []}","-1, -1"
1,Chợ Trung tâm Ba Chẽ,"Địa chỉ: Thị trấn Ba Chẽ, Thị trấn Ba Chẽ, Huy...",/dest/?item=1170,"{'summary': '', 'content': '', 'imgs': []}","@21.2727261,107.2745676,14z"
2,Di tích lịch sử Miếu Ông – Miếu Bà,"Địa chỉ: xã Nam Sơn, Xã Nam Sơn, Huyện Ba Chẽ,...",/dest/?item=1169,"{'summary': '', 'content': '', 'imgs': []}","@21.2190444,107.3322662,14z"

In [21]:
import ast

def split(data):
    data = ast.literal_eval(data)

    return [data['summary'], data['content']]

df[['summary', 'content']] = df['Thông tin thêm'].apply(
    lambda x: pd.Series(split(x))
)
df.head(3)

,Tên địa điểm,Địa chỉ,Đường dẫn,Thông tin thêm,tọa độ,summary,content
0,Di tích lịch sử - văn hóa căn cứ địa cách mạng...,"Địa chỉ: xã Thanh Lâm, Xã Thanh Lâm, Huyện Ba ...",/dest/?item=1171,"{'summary': '', 'content': '', 'imgs': []}","-1, -1",,
1,Chợ Trung tâm Ba Chẽ,"Địa chỉ: Thị trấn Ba Chẽ, Thị trấn Ba Chẽ, Huy...",/dest/?item=1170,"{'summary': '', 'content': '', 'imgs': []}","@21.2727261,107.2745676,14z",,
2,Di tích lịch sử Miếu Ông – Miếu Bà,"Địa chỉ: xã Nam Sơn, Xã Nam Sơn, Huyện Ba Chẽ,...",/dest/?item=1169,"{'summary': '', 'content': '', 'imgs': []}","@21.2190444,107.3322662,14z",,

In [25]:
# place_id,place_name,address,thumb_ulr,description,content
thumburl = 'https://picsum.photos/800/600?random=2'
def get_infor(name):
    df_temp = df[df['Tên địa điểm'] == name]
    if len(df_temp) == 0:
        return ['', thumburl, '', '']
    result = [
        df_temp['Địa chỉ'].values[0],
        thumburl,
        df_temp['summary'].values[0],
        df_temp['content'].values[0]
    ]
    return result

df_place[['address','thumb_ulr','description','content']] = df_place['ten_dia_danh'].apply(
    lambda x: pd.Series(get_infor(x))
)
df_place.head(3)

,item_id,ten_dia_danh,address,thumb_ulr,description,content
0,121,Di tích lịch sử quốc gia đặc biệt Chiến thắng ...,"Địa chỉ: Phường V, thành phố Vị Thanh và xã Vĩ...",https://picsum.photos/800/600?random=2,Di tích lịch sử đặc biệt Chiến thắng Chương Th...,"Trước đây, di tích này có tên gọi là Di tích C..."
1,75,Chùa Sà Lôn (chùa Chén Kiểu),"Địa chỉ: , Xã Đại Tâm, Huyện Mỹ Xuyên, Sóc Trăng",https://picsum.photos/800/600?random=2,"Vị trí: Chùa Sà Lôn nằm trên quốc lộ 1A, cách ...",Thuở ban đầu chùa được dựng bằng cây và lá rừn...
2,180,Khu di tích Đồng Khởi,"Địa chỉ: , Xã Định Thủy, Huyện Mỏ Cày Nam, Bến...",https://picsum.photos/800/600?random=2,"Vị trí: xã Định Thủy, huyện Mỏ Cày, tỉnh Bến T...",Từ thành phố Bến Tre qua cầu Hàm Luông theo Qu...

In [26]:
df_place.to_csv('./database/place.csv', index=False)

In [1]:
import pandas as pd

df = pd.read_csv("E:\GitHUB\demo-web-travel\server_python\database\comment.csv")
df.head(3)

,id,username,place_id,content,date
0,0,74G1 Úts,121,Một địa chỉ hết sức đặc biệt và ý nghĩa đối vớ...,2024-05-11 22:16:11
1,1,74G1 Úts,75,Trên hành trình chinh phục miền Tây di chuyển ...,2021-12-20 06:05:05
2,2,74G1 Úts,180,"Đầu những năm 1960, đây là địa điểm xuất phát ...",2022-01-13 22:12:25

In [2]:
import pandas as pd
import numpy as np

# Đọc file CSV
df = pd.read_csv(r"E:\GitHUB\demo-web-travel\server_python\database\comment.csv")

# Thêm cột rating với giá trị ngẫu nhiên từ 1 đến 5
df['rating'] = np.random.randint(1, 6, size=len(df))  # 6 vì randint upper bound là exclusive

# Kiểm tra 3 dòng đầu
print(df.head(3))

# Lưu lại CSV nếu muốn
df.to_csv(r"E:\GitHUB\demo-web-travel\server_python\database\comment.csv", index=False)

   id  username  place_id                                            content  \
0   0  74G1 Úts       121  Một địa chỉ hết sức đặc biệt và ý nghĩa đối vớ...
1   1  74G1 Úts        75  Trên hành trình chinh phục miền Tây di chuyển ...
2   2  74G1 Úts       180  Đầu những năm 1960, đây là địa điểm xuất phát ...

                  date  rating
0  2024-05-11 22:16:11       1
1  2021-12-20 06:05:05       1
2  2022-01-13 22:12:25       4